/* font family*/
@font-face {
  font-family: 'ProximaNovaRegular';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'ProximaNovaRegular', sans-serif;
}
/*colors*/
/* Basic settings*/
html {
  font-size: 10px;
}
/* Оформление форм */
.form {
  /* Подписи к полям */
}
.form-input,
.form-textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
/*Typografy*/
section {
  padding: 10rem 0;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  background-color: #fcb303;
  color: #ffffff;
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d99a03;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
  margin-top: 0;
}
.section-header h2 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/*main*/
.main {
  padding: 3rem 0 5rem;
  background: #000000 url(../img/HeaderBackground.png) center center no-repeat;
  background-size: cover;
  /* Form & elements */
}
.main-content {
  margin-top: 10rem;
}
.main h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNovaBold', sans-serif;
  line-height: 1.45;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #48be15;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  margin-top: 3rem;
  font-family: 'ProximaNovaBold', sans-serif;
  text-transform: uppercase;
}
.header {
  height: 7rem;
  margin-bottom: 10rem;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 900;
  font-size: 1.9rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* Оформление секции с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  font-size: 1.4rem;
  display: inline-block;
  width: 80%;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.png) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.png) center no-repeat;
  background-size: 70%;
}
/*Секция с ценами*/
.price {
  background: #48be15 url(../img/prices/prices-bg.jpg);
  /*Карточки с картинками*/
}
.price-header-btn {
  margin-top: 2rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
  min-height: 50rem;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.price-block img {
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.9rem;
}
.price-list {
  min-height: 14rem;
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/prices/checked.png) no-repeat center;
  vertical-align: middle;
}
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 4px;
  border: 2px solid #48be15;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  left: 4rem;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #48be15;
  background-color: #ffffff;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-slider {
  padding: 5rem 6rem;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNovaBold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #48be15;
  border: none;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2rem;
}
.feedback-form label {
  -webkit-transform: translateX(-50%) translateY(20%);
          transform: translateX(-50%) translateY(20%);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 25%;
}
/* Схема */
.scheme {
  background: #ffffff url(../img/schema/schema-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #48be15;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #48be15;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.9rem;
}
/* Мы развеим ваши сомнения */
.problems {
  position: relative;
}
.problems-woman {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -19rem;
  width: 30rem;
}
.problems-list {
  border: 4px solid;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list ul {
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
}
.problems-list ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  content: '';
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.problems-list h4 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2.1rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/cansel.png) center no-repeat;
  background-size: 50%;
}
.problems-list_good {
  border-color: #358015;
}
.problems-list_good ul li:before {
  background: url(../img/problems/checked.png) center no-repeat;
}
/* Материалы */
.materials {
  background: #ffffff url(../img/materials/materials-bg.jpg) center no-repeat;
  background-size: cover;
}
.materials-offer {
  margin-top: 8rem;
}
.materials-slider {
  padding-top: 5rem;
}
.materials-link {
  color: #48be15;
  border-bottom: 1px dashed #48be15;
}
.materials-link:hover {
  color: #379010;
}
.materials img {
  display: block;
  margin: 0 auto;
}
/*Посмотрите, как мы работаем*/
.tour {
  background: #ffffff url(../img/tour.jpg) center no-repeat;
  background-size: cover;
}
.tour-subtitle {
  font-size: 2.2rem;
}
/* Дополнительные услуги */
.upsell {
  background: #286b0a;
}
.upsell-block {
  min-height: 15rem;
  text-align: center;
  color: #ffffff;
}
.upsell-block button {
  margin-bottom: 5rem;
}
.upsell-block img {
  display: inline-block;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 30rem;
}
.upsell-block p {
  font-size: 2rem;
}
/* Контакты */
.contacts {
  background: #ffffff url(../img/contacts/contacts-bg.jpg) center right 36% no-repeat;
  background-size: cover;
}
.contacts-form-header {
  font-size: 1.9rem;
}
.contacts h2 {
  font-family: 'ProximaNovaBold', sans-serif;
}
.contacts p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.contacts-link {
  display: inline-block;
  border-bottom: 1px dotted #1a1820;
  color: #1a1820;
}
.contacts-link:hover {
  color: #020203;
}
.contacts-form h2 {
  font-size: 1.9rem;
  font-family: 'ProximaNovaRegular', sans-serif;
}
/* Footer */
footer {
  padding: 4rem 0;
}
.footer-contacts {
  text-align: center;
  padding: 0.5rem;
}
.footer-contacts p {
  margin: 0;
}
.footer-dev-logo {
  text-align: right;
}
/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -3rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  background-color: #ffffff;
}
.popup-header {
  font-family: 'ProximaNovaBold', sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .problems-list {
    min-height: 40rem;
  }
  .tour {
    background: none;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-trigger {
    margin-bottom: 20px;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-block {
    margin-bottom: 2rem;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .problems-list {
    min-height: auto;
  }
  .problems-woman {
    display: none;
  }
  .tour {
    background: none;
  }
  .contacts {
    background-color: #f5f5f5;
    background: none;
  }
  footer {
    text-align: center;
  }
  .footer-contacts {
    margin: 2rem 0;
  }
  .footer-dev-logo {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 2.5rem;
  }
  .main-trigger {
    margin-bottom: 20px;
  }
  .logo {
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-block {
    margin-bottom: 2rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    text-align: center;
    background: none;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-woman {
    display: none;
  }
  .materials-block {
    display: block;
    border-bottom: none;
  }
  .tour {
    background: none;
  }
}
@media (max-width: 320px) {
  .main h1 {
    font-size: 2rem;
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-woman {
    display: none;
  }
  .materials-block {
    display: block;
    border-bottom: none;
  }
  .tour {
    background: none;
  }
}
